# Python
__pycache__/
*.pyc
.venv/
.env
# Data & models (DVC will track via metafiles)
metrics.json
model.pkl
cm.png
train.csv
test.csv

!models/*.md
# MLflow local runs (if using local filesystem)
mlruns/
mlflow-practise.pem
